/resources/public/js/compiled/**
/resources/private/js/unit-test.js
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.idea/
*.iml
.lein-*
